@import url('antd.css');

body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.InfoTable {
    display: flex;
    flex-direction: column;
}

.InfoTable>div {
    display: flex;
    flex-direction: row;
}

.InfoTable>div.InfoTable-header {}

.InfoTable>div.InfoTable-header>div {
    font-weight: bold !important;
    color: rgba(100, 100, 100, 1) !important;
}

.InfoTable>div:nth-child(odd) {
    /* background-color: rgba(200, 200, 200, 0.5); */
}

.InfoTable>div+div {
    margin-top: -1px;
}

.InfoTable>div>div {
    padding: 4px;
    align-items: flex-start;
    justify-content: flex-start;
}

.InfoTable>div>div:first-child {
    padding-left: 0;
}

.InfoTable>div>div:last-child {
    padding-right: 0;
}

.InfoTable.-bordered>div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.InfoTable.-bordered>div:first-child {
    /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
}

.InfoTable.-bordered>div:last-child {
    border-bottom: none;
}

/* .InfoTable.-bordered>div>div {
    border-bottom: 1px solid silver;
} */

.InfoTable.-bordered>div>div+div {
    margin-left: -1px;
}

.InfoTable>div>div:nth-child(1) {
    flex: 0 0 5em;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.InfoTable>div>div:nth-child(2) {
    flex: 1 1 0px;
    text-align: left;
}

.SectionLabel {
    font-weight: bold;
    color: gray;
    margin: 20px 0 0 0;
}

.Grouper {
    /* border: 1px silver solid; */
    padding: 4px;

}

.col.-full-height {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.col.-scrollable {
    overflow-y: auto;
}

.root {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Col {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Col.-span1 {
    flex: 1 1 0px;
}

.Col.-span2 {
    flex: 2 1 0px;
}

.Col.-span3 {
    flex: 3 1 0px;
}

.Col.-span4 {
    flex: 4 1 0px;
}

.Col.-stretch {
    flex: 1 1 0px;
}

.Col.-auto {
    flex: 0 0 auto;
}

.Row.-stretch {
    flex: 1 1 0px;
}

.Col.-autoscroll {
    overflow-y: auto;
}

.Col>.-title {
    text-align: center;
    font-weight: bold;
}

.Row {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.Row.-stretch {
    flex: 1 1 0px;
}


.NiceTable {
    width: 100%;
}

.NiceTable thead {}

.NiceTable tbody {}

.NiceTable th {
    text-align: left;
    padding: 4px;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}

.NiceTable td {
    padding: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.NiceTable td:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.NiceTable.-versions td {
    text-align: left;
}

.NiceTable tr td:nth-child(1) {
    border: none;
}