.Sample {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Sample .ant-row {
    flex: 1 1 0px;
}

.Nav-item {
    border: 1px silver solid;
    padding: 4px;
}

.Nav-item:hover {
    background-color: silver;
    cursor: pointer;
}

.InfoTable.UserMetadata>div>div:nth-child(1) {
    /* flex: 0.5 1 0px; */
    flex: 0 0 20em;
}

.InfoTable.ControlledMetadata>div>div:nth-child(1) {
    /* flex: 0.5 1 0px; */
    flex: 0 0 20em;
}

.map-marker {
    color: red;
    font-size: 20px;
}