.Overview {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
}

.Overview .InfoTable>div>div:nth-child(1) {
    flex: 0 0 8em;
}

.Overview .InfoTable>div>div:nth-child(2) {
    /* flex: 0 0 20em;
    color: gray;
    font-style: italic; */
}

.Overview-sourceUrl {
    color: #BBBBFF;
}

.Overview-sourceUrl:hover {
    color: #BBBBFF;
    text-decoration: underline;
}

.Overview-sourceUrl:active {
    color: white;
    text-decoration: underline;
}